include README.md
include src/mtix/integration_tests/data/mesh_heading_names_2023.tsv
include src/mtix/integration_tests/data/mesh_headings_uis_2023.tsv
include src/mtix/integration_tests/data/mesh_headings_types_2023.tsv
include src/mtix/integration_tests/data/mesh_heading_names_2023_w_types.tsv
include src/mtix/integration_tests/data/mesh_heading_names_2023_w_types_max_len_32.tsv
include src/mtix/integration_tests/data/subheading_names_2023_mesh.tsv
include src/mtix/integration_tests/data/val_set_2017-2023_Chained_Subheading_Predictions.json.xz
include src/mtix/integration_tests/data/val_set_2017-2023_data.json.gz
include src/mtix/integration_tests/data/val_set_2017-2023_MeSH_Heading_Ground_Truth.json.gz
include src/mtix/integration_tests/data/val_set_2017-2023_MeSH_Heading_Predictions.json.gz
include src/mtix/integration_tests/data/val_set_2017-2023_Subheading_Ground_Truth.json.xz
include src/mtix/integration_tests/data/val_set_2017-2023_Subheading_Predictions.json.xz